.container {
  width: 280px;
  display: flex;
  flex-direction: column;
  background-color: #66afe9;
  font-family: Squadron, arial, helvetica, sans-serif;
}

.product-item {
  display: grid;
  grid-template-areas:
    "name price button"
    "desc desc button";
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2px;
  padding: 2px;
  background-color: black;
}

.product-item > * {
  background-color: white;
}

.delete-btn {
  width: 20px;
  height: 20px;
  grid-area: button;
  cursor: pointer;
  &:hover {
    background-color: #cc1111;
  }
}

.product-title {
  grid-area: name;
  font-size: 14px;
  font-weight: bold;
}

.product-price {
  grid-area: price;
  font-size: 12px;
}

.product-desc {
  grid-area: desc;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
