body {
  width: 320px;
  display: flex;
  flex-direction: column;
  font-family: Squadron, arial, helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 5px 0;
}

.header > img {
  width: 30px;
  height: 30px;
}

.header > h1 {
  font-size: 20pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#productsDiv {
  padding: 8px 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-container {
  display: grid;
  grid-template-areas: "name price button";
  grid-template-columns: 3fr 1fr 1fr;
  place-items: center;
  column-gap: 2px;
  padding: 0;
  min-height: 48px;
}

.product-container > * {
  background-color: white;
  width: 100%;
  height: 100%;
}

.delete-btn {
  &:hover {
    background-color: #fa4646;
  }
}

.edit-btn {
  &:hover {
    background-color: #e1e3e6;
  }
}

.btn {
  width: 28px;
  height: 28px;
  grid-area: button;
  cursor: pointer;
  padding: 2px;
  margin: 0 3px;
  border-radius: 20%;
  border: 2px solid;
}

.btn > img {
  height: 100%;
  width: auto;
}

.product-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title {
  grid-area: name;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12pt;
}

.brand-input {
  width: 100%;
}

.name-input {
  width: 100%;
}

.product-price {
  grid-area: price;
  height: 100%;
  font-size: 14pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-price > p {
  margin: 0;
  padding: 0;
}

#buttons {
  padding: 4px 0 0;
}
