@font-face {
  font-family: 'Squadron';
  src: url("fonts/Squadron-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Squadron';
  src: url("fonts/Squadron-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Squadron';
  src: url("fonts/Squadron-LightItalic.otf");
  font-weight: normal;
  font-style: italic;
}

* {
  --label-width: 93mm;
  --label-height: 55mm;
  --brand-font-size: 20pt;
  --name-font-size: 18pt;
  --price-font-size: 25pt;
  --desc-font-size: 11pt;
}

body {
  margin: 25px 0;
  padding: 0;
  background-color: white;
}

.label-grid {
  display: grid;
  grid-template-columns: repeat(3, var(--label-width));
  gap: 0;
  padding: 0;
  justify-content: center;
}

.label {
  width: var(--label-width);
  height: var(--label-height);
  border: 1px dotted #ccc;
  padding: 8px 10px 8px;
  box-sizing: border-box;

  /* Prevents a label from being split between two pages */
  break-inside: avoid;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: 'Squadron';
  color: #000000;
}

.label > * {
  width: 100%;
  text-align: center;
}

.brand-name {
  font-size: var(--brand-font-size);
  font-weight: bold;
  text-transform: uppercase;
  margin: 4px 0 0;
}

.product-name {
  font-size: var(--name-font-size);
  font-weight: bold;
  margin: 3px 0 4px;
}

.desc-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-desc {
  font-size: var(--desc-font-size);
  font-style: italic;
  color: #444444;
  text-align: center;
  margin: 8px 0;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.label-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.label-footer > * {
  margin: 0 6px;
}

.shop-logo {
  height: 12mm;
  width: auto;
}

.product-price {
  font-size: var(--price-font-size);
  font-weight: 600;
  align-self: center;
}

@media print {
  /* Hide browser headers/footers */
  @page { margin: 0; }
  .no-print { display: none; }
}
